:root {
  --sb-size: 1px;
  --sb-track-color: #f1f1f1;
  --sb-thumb-color: #888;
  --sb-border-radius: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: var(--sb-border-radius);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: var(--sb-border-radius);
}

/* Optional: Scrollbar-Farbe für Firefox */
body {
  scrollbar-width: var(--sb-size);
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.body-mobile {
  position: relative;
  max-width: 1920px;

}

.Technical-Task {
  background-color: #1FD7C1 !important;

}

.overflow-all-hidden {
  overflow: hidden;
}

.grey-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000057;
  z-index: 2;
}

.drag-area {
  background-color: rgba(112, 112, 112, 0.1) !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.board {
  margin-top: 128px;
  padding: 0 16px;
}

.board-headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
  cursor: default;
}

.board-headline-container h1 {
  font-size: clamp(47px, 7vh, 61px);
}

.search-row {
  margin-bottom: 24px;
}

.search-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-wrapper span {
  color: red;
  margin: 16px;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
}

.search-row input {
  padding: 8px 16px;
  width: 396px;
  height: 48px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  font-size: 20px;
}

.search-row input::placeholder {
  font-weight: 400;
  color: #d1d1d1;
}

.input-img {
  background: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.add-cross-btn {
  background-color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
  user-select: none;
  cursor: pointer;
}

h2 {
  font-size: 27px;
  color: #2a3647;
  margin-top: 0;
}

.add-cross-btn-small {
  width: 30px;
  height: 30px;
  border: 2px solid #2a3647;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.add-cross-btn-small:hover {
  border-color: #29ABE2;
}

.add-cross-btn-small:hover img {
  filter: brightness(0) saturate(100%) invert(73%) sepia(72%) saturate(4323%) hue-rotate(165deg) brightness(97%) contrast(82%);
}

.section-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  cursor: default;
}

.task-fields {
  margin-top: 15px;
  height: 48px;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.task-fields span {
  color: #a8a8a8;
}

.section-container {
  margin-top: 26px;
  border-radius: 10px;
  transition: background-color 0.15s ease-in-out;
}

.task-card-container {
  height: fit-content;
  width: 252px;
  background-color: white;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0px 0px 10px 3px #00000014;
  border-radius: 24px;
  cursor: pointer;
  min-height: 160px;
}

.task-card-wrapper.dimm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(125, 125, 125, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.task-group-bubble {
  color: white;
  width: 133px;
  background-color: #0038ff;
  padding: 4px 16px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  user-select: none;
}

.task-card-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-card-header h2 {
  font-size: 16px;
}

.task-sub-headline {
  color: #a8a8a8;
  word-break: break-word ;
}

.mt-24 {
  margin-top: 24px;
}

.mtb-24 {
  margin: 24px 0;
}

.tasks-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 24px;
  gap: 16px;
  padding: 10px 8px;
  align-items: center;
}

.sub-task-container {
  width: 240px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-task-container span {
  font-size: 14px;
}

.sub-task-progress-bar {
  background-color: #f4f4f4;
  width: 128px;
  height: 8px;
}

.progress-length {
  height: 100%;
  width: 50%;
  background-color: #4589ff;
  border-radius: 16px;
  transition: width 0.2s ease-in-out;
}

.assigned-user {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-pictures {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  align-items: center;
}

.profile-cricle {
  width: 32px;
  height: 32px;
  border-radius: 45px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  color: white;
  margin-left: -8px;
  user-select: none;
}

.placeholder-footer {
  height: 100px;
}

.add-task-btn {
  background-color: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  color: white;
  font-size: 21px;
  font-weight: 700;
  justify-content: space-evenly;
  align-items: center;
  display: none;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: #29ABE2;
  border-color: #29ABE2;
}

.draggable {
  transition: transform 0.3s ease;
}