/* Hide the clear button in search inputs */
/* 
Regular Board-Classes
*/

:root {
  --sb-size: 1px;
  --sb-track-color: #f1f1f1;
  --sb-thumb-color: #888;
  --sb-border-radius: 10px;
}

/* Scrollbar für das body-Element */
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: var(--sb-border-radius);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: var(--sb-border-radius);
}

/* Optional: Scrollbar-Farbe für Firefox */
body {
  scrollbar-width: var(--sb-size);
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.body-mobile {
  position: relative;
  overflow: hidden;
}

.overflow-all-hidden {
  overflow: hidden;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.board {
  margin-top: 128px;
  padding: 0 16px;
}

.board-headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.board-headline-container h1 {
  font-size: clamp(47px, 7vh, 61px);
}

.search-row {
  margin-bottom: 24px;
}

.search-row input {
  padding: 8px 16px;
  width: 396px;
  height: 48px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  font-size: 20px;
}

.search-row input::placeholder {
  font-weight: 400;
  color: #d1d1d1;
}

.input-img {
  background: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.add-cross-btn {
  background-color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

h2 {
  font-size: 27px;
  color: #2a3647;
  margin-top: 0;
}

.add-cross-btn-small {
  width: 30px;
  height: 30px;
  border: 2px solid #2a3647;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.task-fields {
  margin-top: 15px;
  width: 392px;
  height: 48px;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.task-fields span {
  color: #a8a8a8;
}

.section-container {
  margin-top: 26px;
}

.task-card-container {
  width: 252px;
  height: 263px;
  background-color: white;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0px 0px 10px 3px #00000014;
  border-radius: 24px;
  cursor: pointer;
}

.task-group-bubble {
  color: white;
  width: 133px;
  background-color: #0038ff;
  padding: 4px 16px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.task-card-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-card-header h2 {
  font-size: 16px;
}

.task-sub-headline {
  color: #a8a8a8;
}

.mt-24 {
  margin-top: 24px;
}

.tasks-container {
  width: 396px;
  height: 292px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 24px;
  gap: 16px;
}

.sub-task-container {
  width: 240px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-task-container span {
  font-size: 14px;
}

.sub-task-progress-bar {
  color: #f4f4f4;
  width: 128px;
  height: 8px;
}

#progress-length {
  height: 100%;
  width: 50%;
  background-color: #4589ff;
  border-radius: 16px;
}

.assigned-user {
  width: 240px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-pictures {
  width: 80px;
  height: 32px;
  display: flex;
}

.profile-cricle {
  width: 32px;
  height: 32px;
  border-radius: 45px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  color: white;
  margin-left: -8px;
}

.profile-cricle:first-child {
  margin-left: 0;
}

.placeholder-footer {
  height: 100px;
}

.add-task-btn {
  background-color: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  color: white;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  display: none;
  cursor: pointer;
}

@media (min-width: 1380px) and (max-width: 3200px) {
  .board-content {
    display: flex;
    gap: 24px;
    margin-top: 48px;
  }

  .board {
    margin-left: 232px;
    padding-left: 64px;
    margin-top: 170px;
  }

  .board-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1056px;
  }

  .add-task-btn {
    display: flex;
  }

  .board-headline-container {
    margin: 0;
  }

  .search-row input {
    width: 312px;
    height: 48px;
  }

  .add-cross-btn {
    display: none;
  }

  .section-container {
    width: 252px;
    height: 688px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .task-fields {
    width: 252px;
  }

  .tasks-container {
    width: 252px;
    height: 263px;
    overflow-y: unset;
    overflow-x: unset;
    flex-direction: column;
  }

  .task-card-content {
    width: 220px;
  }

  .task-card-container {
    width: 220px;
  }

  .sub-task-container {
    width: 220px;
  }

  .assigned-user {
    width: 220px;
  }

  h2 {
    font-size: 20px;
  }

  .search-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 32px;
    margin: 0;
  }
}

@media (min-width: 1159px) and (max-width: 1379px) {
  .board {
    margin-left: 232px;
    padding: 0 64px;
  }

  .task-fields {
    width: 100%;
  }

  .tasks-container {
    width: 100%;
    height: 342px;
  }
}

@media (min-width: 1379px) and (max-width: 1394px) {
  .board {
    padding: 0 50px;
  }
}

@media (min-width: 470px) and (max-width: 1158px) {
  .board {
    padding: 0 32px;
  }

  .task-fields {
    width: 100%;
  }

  .tasks-container {
    width: 100%;
    height: 342px;
  }
}

@media (min-width: 1919px) {
  .body-mobile {
    max-width: 1920px;
    margin: auto;
  }

  .dialog-container {
    left: auto;
  }

  .board {
    margin-left: 0;
  }
}

@media (max-height: 1020px) {
  .board {
    margin-top: 128px;
  }
}

@media(max-height: 970px) {
  .dialog-container {
    top: 70px;
  }
}

@media (max-width: 322px) {
  .search-row input {
    width: 380px;
  }
}

@media (max-height: 750px) and (max-width: 420px) {
  .task-fields {
    width: 380px;
  }
}

/* 
Regular Board-Classes 
*/

.tag__user-story {
  background-color: #0038ff;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  padding: 4px 16px;
}

.tag__technical-task {
  background-color: #1fd7c1;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  padding: 4px 16px;
}

/*
Detail-View related Classes
*/
.outer-wrapper {
  position: relative;
}

.task-card-view {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 640px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 #00000029;
  border-radius: 30px;
  padding: 32px 24px;
  width: calc(80vw + 0.5em);
  max-width: 396px;
  gap: 16px;
}

.task-card-view.edit {
  gap: 8px;
}

.details__title {
  font-weight: 700;
  font-size: 36px;
  outline: 1px solid red;
}

.edit.this-entry {
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  margin-bottom: 16px;
}

.details__caption {
  font-weight: 700;
  font-size: 16px;
  color: #42526e;
  outline: 1px solid slateblue;
}

.details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid blue;
  width: 100%;
}

.details__header.titleless {
  justify-content: flex-end;
}

.close-btn {
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/close_black.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.close-btn:hover {
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/close_hovered.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.details__info-box {
  display: flex;
  gap: 25px;
  outline: 1px solid salmon;
  align-items: center;
}

.details__info-box.vertical {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  outline: 1px solid blue;
}

.details__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  outline: 1px solid brown;
}

.details__title-wrapper.edit {
  gap: 8px;
}

.details__priority-wrapper {
  display: flex;
  align-items: center;
}

.priority-icon {
  width: 32px;
  height: 32px;
}

.details__vertical-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 16px;
  outline: 1px solid lightseagreen;
}

.details__vertical-inner {
  display: flex;
  gap: 16px;
  align-items: center;
}

.details__description {
  font-weight: 400;
  font-size: 16px;
  margin-block: 0;
  outline: 1px solid orange;
}

.details__description.edit {}

.details__information {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  outline: 1px solid goldenrod;
}

.details__bottom {
  align-self: flex-end;
  display: flex;
  gap: 8px;
}

.details__bottom .icon-box {
  display: flex;
  align-items: center;
}

.details__bottom .line {
  height: 24px;
  width: 1px;
  background-image: url("../img/icons/vertical_line.svg");
}

.delete-link {
  display: flex;
  border: none;
  background-color: unset;
  align-items: center;
  cursor: pointer;
}

.delete-link::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.delete-link:hover::before {
  background-image: url("../img/icons/delete_hovered.svg");
}

.edit-link {
  display: flex;
  border: none;
  background-color: unset;
  align-items: center;
  cursor: pointer;
}

.edit-link::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.edit-link:hover::before {
  background-image: url("../img/icons/edit_hovered.svg");
}

/*
Edit-View related Classes
*/