@media (min-width: 951px) {
    .dialog-container {
        width: 1212px;
        height: 592px;
    }

    .button-container {
        position: unset;
        display: flex;
        width: 364px;
        justify-content: flex-start;
    }

    .join-logo-popup {
        display: block;
    }


    .input-information {
        position: unset;
        margin-bottom: 24px;
        margin-bottom: 48px;
        margin-top: unset;
    }

    .dialog-content {
        display: flex;
    }

    .upper-card {
        height: 594px;
        width: 467px;
        display: flex;
        align-items: center;
    }

    .under-card {
        position: relative;
        display: flex;
        flex: 1;
        height: 594px;
        justify-content: center;
        align-items: center;
        padding-right: 48px;
        flex-direction: row;
        gap: 72px;
        /* gap: clamp(50px, 10%, 72px); */
    }

    .profil-img {
        margin-left: 16px;
        transform: unset;
        position: unset;
    }



    .btn-container {
        width: 364px;
        height: 57px;
        display: flex;
        flex-direction: row-reverse;
        gap: 24px;
    }

    .contact-btn-cancel {
        display: flex;
        padding: 16px;
        border: 1px solid #2a3647;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        gap: 6px;
    }

    .contact-btn-cancel:hover {
        border-color: #29abe2;
        color: #29abe2;
    }

    .cancel-btn-symbol img {
        filter: brightness(0) saturate(100%) invert(16%) sepia(48%) saturate(414%) hue-rotate(176deg) brightness(93%) contrast(89%);
        height: 10px;
        width: 10px;
    }

    .close {
        top: 48px;
        filter: brightness(0) saturate(100%) invert(16%) sepia(48%) saturate(414%) hue-rotate(176deg) brightness(93%) contrast(89%);
    }

    .upper-card-headline {
        width: 371px;
        height: 129px;
        padding: 0;
        cursor: default;
    }

    .upper-card-content {
        padding: 66px 48px;
    }

    @media (max-width: 1160px) {

        .upper-card {
            width: 360px;
        }
    }
}

@media (max-width: 370px) {
    .input-style {
        width: 320px;
    }

    .upper-card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 16px;
    }



}


@media (max-width: 360px) {
    .input-style {
        width: clamp(200px, 30vw, 364px);
    }

    .upper-card-headline {
        width: unset;
        height: unset;
    }

    .upper-card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 16px;
    }


}



@media (max-width: 952px) and (max-height: 700px) {
    .dialog-container {
        height: 705px;
        border-radius: 0;
    }

    .upper-card {
        height: 300px;
    }



    .input-information {
        left: 4px;
    }

    .button-container {
        top: 600px;
    }
}

@media (max-width: 952px) and (max-height: 677px) {
    .upper-card-headline {
        padding: 56px 24px;
    }

    .input-information {
        top: 425px;
    }

    .dialog-container {
        height: 676px;
    }

    .button-container {
        top: 603px;
    }
}

@media (max-width: 950px) {
    .dialog-container {
        animation: open-contact-dialog-animation-mobile;
        animation-timing-function: ease-in;
        animation-duration: 300ms;
    }
}

@media (min-width: 951px) {
    .close.desktop {
        display: flex;
        z-index: 1;
        user-select: none;
    }

    .close.mobile {
        display: none;
    }

    .input-style {
        justify-content: unset;
    }
}