/* styling for contact list */
body {
    margin: 0;
    height: 100%;
}

.contact-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 0px 6px 0px #00000014;
    margin: 80px 0 80px 0;
    overflow: scroll;
    height: calc(100vh - 96px);
}

.contact-list::-webkit-scrollbar-thumb {
    background: #A8A8A8;
}

.contact-list {
    padding: 24px;
    margin: 0;
}

.btn-container {
    position: relative;
    left: 150px;
}

.btn-add-new-contact {
    display: flex;
    position: fixed;
    bottom: 140px;
    width: 56px;
    height: 56px;
    padding: 12px;
    border-radius: 46px;
    border: #2A3647 1px;
    background-color: #2A3647;
    text-indent: -9999px; /* hide button text */
}

.btn-add-new-contact img {
    width: 32px;
    height: 32px;
}

.btn-add-new-contact:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btn-add-new-contact:active {
    background-color: #091931;
}

.letter {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    list-style: none;
    padding: 17px 36px;
}

.underline {
    width: 356px;
    height: 1px;
    display: flex;
    border-bottom: 1px solid #D1D1D1;
    margin: 8px 0;
}

.contact-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px 24px;
    gap: 35px;
}

.contact-item:active {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

/* Class that is activated when clicking on contact for desktop layout. Must be added via JS.*/
.contact-item-selected {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px 24px;
    gap: 35px;
    background-color: #2A3647;
}

.contact-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    border-radius: 45px;
    gap: 10px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.contact-name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 24px;
    margin: 0 0 4px 0;
}

.contact-email {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 20px;
    color: #007CEE;
    margin: 4px 0 0 0;
}

/* style for contact window */

.contact-list-and-contact-window-container {
    display: flex;
}

.contact-window {
    display: flex;
    top: 96px;
    position: relative;
    justify-content: space-between;
    height: calc(100svh - 96px);
}

.separator {
    height: 56px;
    border: 1.5px solid #29ABE2;
    border-radius: 4px;
}

.h1-and-motto-container {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 32px;
    height: 100px;
    gap: 30px;
}

.h1-and-motto-container h1 {
    font-size: 61px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.span-motto {
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #2A3647;
}

/* Placeholder elements will be replaced with templates later. */
.header__placeholder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #fffffe;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu--side {
    display: none;
}

.nav-menu--bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: #2A3647;
}

.logo {
    position: absolute;
    top: 64px;
    left: 66px;
    height: 122px;
    width: 100px;
}

/* responsive */

@media (min-width: 820px) {

    .contact-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 4px 0px 6px 0px #00000014;
        margin: 96px 0 0 232px;
        max-width: 456px;
    }

    .btn-container {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 456px;
        height: 102px;
        background-color: #FFFFFF;
    }
    
    .btn-add-new-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;   
        width: 352px;
        height: 56px;
        padding: 12px 0 12px 0;
        margin: 20px;
        border-radius: 10px;
        border: #2A3647 1px;
        background-color: #2A3647;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        font-size: 21px;
        gap: 16px;
        text-indent: 0px; /* show button text */
    }

    .contact-item:hover {
        background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    }

    .header__placeholder {
        left: 232px;
        height: 96px;
    }

    .nav-menu--side {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        width: 232px;
        height: 100%;
        background-color: #2A3647;
    }

    .nav-menu--bottom {
        display: none;
    }
}

@media (max-width:456px) {
    .btn-add-new-contact {
        display: flex;
        position: fixed;
        right: 20px;
        bottom: 140px;
    }
}

@media (max-width: 400px) {
    .contact-list {
        padding: 24px 0;
    }

    .underline {
        width: 310px;
    }
}
