/* styling for contact list */
.contactListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-width: 456px;
    max-height: 95svh;
    top: 96px;
    left: 232px;
    cursor: pointer;
    box-shadow: 4px 0px 6px 0px #00000014;
}

.contactList::-webkit-scrollbar{
    width: 6px;
}

.contactList::-webkit-scrollbar-thumb {
        background: #FFFFFF; 
        border-radius: 10px;   
    }

.contactList{
    left: 28px;
    padding: 0 24px 32px 24px;
    overflow-y: auto;
}

.btnContainer{
    display: flex;
    justify-content: center;
    width: 456px;
    height: 132px;
    background-color: #FFFFFF;
}

.btnAddNewContact{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22.5px;
    left: 52px;
    width: 352px;
    height: 56px;
    padding: 12px 0 12px 0;
    border-radius: 10px;
    border:#2A3647 1px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    gap: 16px;
}

.btnAddNewContact img{
    width: 32px;
    height: 32px;  
}

.btnAddNewContact:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btnAddNewContact:active{
    background-color: #091931;
}

.letter{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    list-style: none;
    padding: 17px 36px;
}

.underline{
    width: 356px;
    height: 1px;
    display: flex;
    border-bottom:1px solid #D1D1D1;
    margin: 8px 0;
}

.contactItem{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px 24px;
    gap: 35px;
}

.contactItem:hover{
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

/* Class that is activated when clicking on contact. Must be added via JS.*/
.contactItemSelected{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px 24px;
    gap: 35px;
    background-color: #2A3647;
}

.contactImage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    border-radius: 42px;
    gap:10px;
    color: #FFFFFF;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.contactName{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 24px;
    margin: 0 0 4px 0;
}

.contactEmail{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 20px;
    color: #007CEE;
    margin: 4px 0 0 0;
}