body {
  margin: 0;
  height: 100vh;
  font-family: "Inter";
}

.bg-organe {
  /* just a placeholder to visualise */
  background-color: #ff7a00 !important;
  display: flex;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: center;
  color: white;
}

main {
  /* just a place holder for the background later when displayed per js */
  filter: blur(4px);
  background-color: #0000001a;
  height: 100%;
}

.dialog-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

.dialog-container {
  animation: open-contact-dialog-animation;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
  width: 396px;
  height: 760px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  margin: 0 16px;
}

.dialog-content {
  position: relative;
}

.upper-card {
  height: 352px;
  background-color: #2a3647;
  position: relative;
}

.upper-card h1 {
  padding: 0;
  margin: 0;
}

.under-card {
  height: 408px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.upper-card-content {
  color: white;
  font-family: Inter;
  line-height: 56.4px;
  text-align: left;
  padding: 66px 24px 66px 0px;
}

.seperator {
  border: 2px solid #29abe2;
  width: 90px;
}

.upper-card-headline {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 282px;
  height: 104px;
  padding: 66px 24px;
}

.upper-card-headline h1 {
  font-size: 47px;
  font-weight: 700;
}

.upper-card-headline span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.close {
  width: 32px;
  height: 32px;
  top: 24px;
  right: 24px;
  gap: 0px;
  border-radius: 56px 0px 0px 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profil-img {
  background-color: #d1d1d1;
  width: 120px;
  height: 120px;
  gap: 0px;
  border-radius: 70px;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-50%) translateX(-60px);
  left: 50%;
  color: white;
  font-size: 47px;
  overflow: hidden;
}

.input-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 364px;
  height: 153px;
  margin-top: 25%;
}

.input-style {
  width: 364px;
  height: 41px;
  gap: 8px;
  display: flex;
  position: relative;
  justify-content: center;
}

.input-style input {
  display: flex;
  width: clamp(280px, 30vw, 364px);
  border: 1px solid #d1d1d1;
  padding: 13px 40px 13px 21px;
  gap: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.input-style input:focus {
  outline-color: #29abe2;
}

.profile-img-input {
  background: url(../img/icons/person-gray.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.email-img-input {
  background: url(../img/icons/mail.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.phone-img-input {
  background: url(../img/icons/call.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.contact-btn {
  height: 51px;
  border-radius: 10px;
  background-color: #2a3647;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-around;
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding: 0 10px;
  font-size: 21px;
  border: none;
}

.contact-btn:hover {
  background-color: #29abe2;
}

.contact-save-btn {
  border-radius: 10px;
  background-color: #2a3647;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-evenly;
  color: white;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  cursor: pointer;
  padding: 16px;
  border: none;
}

.contact-save-btn:hover {
  background-color: #29abe2;
}

.button-container {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 647px;
  font-size: 21px;
}

.contact-delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #2a3647;
  width: 82px;
  border-radius: 10px;
  padding: 15px 24px;
  cursor: pointer;
}

.contact-delete-btn:hover {
  border-color: #29abe2;
  color: #29abe2;
}

.contact-btn-cancel {
  display: none;
  cursor: pointer;
}

.join-logo-popup {
  display: none;
}

.contact-successfully-popup {
  width: 326px;
  height: 74px;
  background-color: #2A3647;
  color: white;
  font-size: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  transform: translateY(770px);
  top: 700px;
  /* 'left: clamp(15%,2vh, 25%);' */
  justify-content: center;
  border-radius: 10px;
  transition: all 225ms ease-in-out;
  display: none;
}