
.tag {
    user-select: none;
  }
  
  .tag.user-story {
    background-color: #0038ff;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    padding: 4px 16px;
  }
  
  .tag.technical-task {
    background-color: #1fd7c1;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    padding: 4px 16px;
  }
  
  /*
  Detail-View related Classes
  */
  .outer-wrapper {
    position: relative;
  }
  
  .task-card-view {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: clamp(400px, 65svh, 750px);
    background-color: #fff;
    box-shadow: 0 0 4px 0 #00000029;
    border-radius: 30px;
    padding: 32px 24px;
    width: calc(80vw + 0.5em);
    max-width: 396px;
    gap: 16px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .task-card-view.edit {
    padding: 32px 8px;
  }
  
  .details__title {
    font-weight: 700;
    font-size: clamp(18px, 5vw, 36px);
    cursor: default;
  }
  
  .edit.this-entry {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 18px 21px;
    width: 100% !important;
    box-sizing: border-box;
  }
  
  .edit.this-entry:focus-visible {
    border: 1px solid transparent;
  }
  
  .date-box {
    position: relative;
    display: flex;
  }
  
  .date-input::-webkit-calendar-picker-indicator {
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/calendar.svg);
  }
  
  .edit.edit.this-entry.date-input {
  
    position: relative;
    padding: 8px 21px;
    z-index: 2;
    background: none;
    font-size: 16px;
    flex: 1;
  }
  
  .details__title.edit.this-entry {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 21px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .details__caption {
    font-weight: 700;
    font-size: 16px;
    color: #42526e;
    cursor: default;
  }
  
  .details__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .details__header.titleless {
    justify-content: flex-end;
  }
  
  .close-btn {
    width: 32px;
    height: 32px;
    background-image: url("../img/icons/close_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  
  .close-btn:hover {
    width: 32px;
    height: 32px;
    background-image: url("../img/icons/close_hovered.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .details__info-box {
    display: flex;
    gap: 25px;
    align-items: center;
  }
  
  .details__info-box.vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }

  .details__subtask {
    position: relative;
  }

  .scrollbar-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 16px;
    flex: 1;
    padding: 0 1px;
    --sb-track-color: transparent !important;
    --sb-thumb-color: transparent !important;
    --sb-size: 2px !important;
    scrollbar-width: var(--sb-size) !important;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
  }
  
  .details__info-box.edit {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 8px;
  }
  
  .details__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .details__title-wrapper.edit {
    gap: 8px;
  }
  
  .details__priority-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .details__priority-wrapper.edit {
    gap: 16px;
    margin-bottom: 12px;
  }
  
  .simple-btn.task-priority {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 16px 10px;
    width: 33.33%;
    box-sizing: border-box;
    transition: all 0.08s ease-in-out;
  }
  
  .simple-btn.task-priority .urgent-img {
    background-image: url('../img/icons/priority_urgent.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
  }
  
  .simple-btn.task-priority .medium-img {
    background-image: url('../img/icons/priority_medium.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
  }
  
  .simple-btn.task-priority .low-img {
    background-image: url('../img/icons/priority_low.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
  }
  
  .simple-btn.task-priority:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  
  .simple-btn.task-priority.urgent.active {
    background-color: #FF3D00;
    color: #FFFFFF;
    font-weight: 700;
  }
  
  .simple-btn.task-priority.urgent.active .urgent-img {
    background-image: url('../img/icons/priority_urgent_white.svg');
  }
  
  .simple-btn.task-priority.medium.active {
    background-color: #FFA800;
    color: #FFFFFF;
    font-weight: 700;
  }
  
  .simple-btn.task-priority.medium.active .medium-img {
    background-image: url('../img/icons/priority_medium_white.svg');
  }
  
  .simple-btn.task-priority.low.active {
    background-color: #7AE229;
    color: #FFFFFF;
    font-weight: 700;
  }
  
  .simple-btn.task-priority.low.active .low-img {
    background-image: url('../img/icons/priority_low_white.svg');
  }
  
  .details__vertical-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: clamp(0px, 1%, 16px);
    cursor: default;
  }
  
  .details__inner {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  
  .details__inner.edit.assigned {
    gap: 8px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .details__description {
    font-weight: 400;
    font-size: 16px;
    margin-block: 0;
    cursor: default;
  }
  
  .details__information {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    cursor: default;
  }
  
  .details__bottom {
    align-self: flex-end;
    display: flex;
    gap: 8px;
  }
  
  .details__bottom .icon-box {
    display: flex;
    align-items: center;
  }
  
  .details__bottom .line {
    height: 24px;
    width: 1px;
    background-image: url("../img/icons/vertical_line.svg");
  }
  
  .task-link {
    display: flex;
    border: none;
    background-color: unset;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    user-select: none;
  }
  
  .task-link:hover {
    filter: invert(54%) sepia(69%) saturate(562%) hue-rotate(155deg) brightness(95%) contrast(87%);
  }
  
  .checkbox.details+label:hover {
    background-color: rgba(117, 117, 117, 0.1);
    border-radius: 10px;
  }