.startscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #2A3647;
    transition: all 0.8s ease-in-out 0.2s;
    z-index: 1;
}

.startscreen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 122px;
    transition: all 0.8s ease-in-out 0.2s;
}

.startscreen--animate {
    background-color: transparent;
}

.startscreen--animate img {
    top: clamp(4px, 2vh, 37px);
    left: clamp(4px, 5vw, 38px);
    height: clamp(39px, 10vh, 78px);
    /* width: clamp(80px, 10vw, 100px); */
    transform: unset;
}

.startscreen--animate .logo--fade {
    opacity: 0;
}

.startscreen--animate.over {
    bottom: unset;
    right: unset;
}

.title {
    font-size: clamp(47px, 6vw, 61px);
    cursor: default;
}

.content__head {
    display: none;
}

.register-wrapper__hero {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-right: 122px;
}

.content__bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 42px;
}

.register-wrapper {
    display: flex;
    align-items: center;
    gap: 35px;
}

.document-links {
    display: flex;
    padding: 8px;
    gap: 24px;
    margin-bottom: 30px;
}

.document-links a {
    color: #A8A8A8;
    line-height: 19.2px;
}

.document-links a:hover {
    color: #29ABE2;
    font-weight: 700;
}

.logo-desktop {
    display: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.input-wrapper {
    width: min(95%, 422px);
}

.input-wrapper.login {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-item.ignore-width {
    width: unset;
}

.remember-checkbox {
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 32px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 32px 16px;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    width: min(90%, 598px);
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-buttons {
    display: flex;
    flex-direction: column;
    width: clamp(150px, calc(40vw + 0.5em), 264px);
    gap: 35px;
}

.bordered-btn {
    text-align: center;
}

@media (max-height: 800px){
    .content__bottom {
        margin-top: 16px;
        gap: 16px;
    }

    .login-wrapper {
        max-height: 350px;
        overflow: scroll;
        transform: translate(-50%, -60%);
    }

    .document-links {
        margin-bottom: 16px;
    }
}


/*Set to desktop-Resolution*/
@media (min-width: 928px) {
    .startscreen {
        display: none;
    }

    .logo-desktop {
        display: block;
        width: clamp(64px, 3vw, 100px);
        margin-top: 80px;
        margin-left: 77px;
        user-select: none;
    }

    .content__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .register-wrapper {
        display: none;
    }

    .login-buttons {
        flex-direction: unset;
        width: unset;
    }

    .simple-btn {
        font-size: 21px;
    }

    .bordered-btn {
        font-size: 21px;
    }
}