.sign-up-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 32px 16px;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
}

.input-item {
    position: relative;
    margin-bottom: 24px;
}

.input-item.password-check {
    margin-bottom: 8px;
}

.input-item input {
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 16px;
    outline: none;
}

.input-item input::placeholder {
    color: #d1d1d1;
}

.input-item input:focus {
    border: 1px solid #29ABE2;
}

.registration-data {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    align-items: center;
}

.input-icons {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.form-btn {
    border: 1px solid #2A3647;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 4px 0;
    border-radius: 8px;
    width: 45%;
    height: 51px;
}

.form-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.horizontal-line {
    height: 3px;
    width: 118px;
    background-color: #29ABE2;
    border-radius: 10px;
}

.dialog-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.privacy-checkbox {
    margin: 0 0 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.privacy-checkbox input {
    height: 16px;
    width: 16px;
    border-radius: 3px;
    border: 2px solid #2A3647
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.error-msg {
    color: #FF8190;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 32px;
}