.greeting-msg--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 80px;
    font-weight: 400;
    font-size: 36px;
    opacity: 1;
    transition: opacity 0.4s ease-in 1200ms;
}

.greeting-msg--desktop {
    display: none;
}

main {
    margin-top: 128px;
    margin-bottom: 128px;
}

.main--no-account {
    margin-bottom: 24px !important;
}

.join-360 {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    gap: 16px;
    padding-bottom: 16px;
    position: relative;
}

.join-360::after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: #29ABE2;
    position: absolute;
    bottom: 0;
    left: 0;
}

.join-360.vertical-line {
    display: none;
}

.counter-description {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.greeting-msg--mobile--fade-out {
    opacity: 0;
    z-index: 1;
}

.greeting-msg--name {
    font-weight: 700;
    font-size: 47px;
    color: #29ABE2;
}

.summary-content {
    opacity: 0;
    margin: 0 16px;
    transition: opacity 400ms ease-in-out 1200ms;
}

.summary-animation--fade-in {
    opacity: 1;
}

.deadline-date {
    font-weight: 700;
    font-size: 16px;
}

.deadline-description {
    font-weight: 400;
    font-size: 14px;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 24px;
    max-width: 396px;
    height: clamp(200px, 45vh, 400px);
}

@media (max-height: 730px) {
    .summary {
        height: clamp(200px, 50vh, 300px);
    }
}

.summary-card {
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: all 0.08s ease-in-out;
    user-select: none;
}

.summary-card:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: #FFF;
}

.summary-card:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #FFF;
    color: #000;
}

.summary-card--small {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 33%;
    justify-content: center;
    align-items: center;
}

.summary-card--medium {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
}

.summary-card--large {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.summary-counter {
    font-weight: 600;
    font-size: clamp(32px, 10vw, 56px);
    text-align: center;
}

.summary-top {
    display: flex;
    height: 110px;
    gap: 24px;
    width: 100%;
    height: 33%;
    justify-content: center;
}

.summary-urgent {
    display: flex;
    width: 100%;
    height: 33%;
}

.icon-wrapper {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;

}

.icon-wrapper.urgent-icon {
    background-image: url('../img/icons/urgent-hover.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-wrapper.todo-icon {
    background-image: url('../img/icons/pencil-summary.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.summary-todo:hover .todo-icon{
    background-image: url('../img/icons/pencil-summary-hover.svg');
}

.summary-todo:active .todo-icon {
    background-image: url('../img/icons/pencil-summary.svg');
}

.icon-wrapper.done-icon {
    background-image: url('../img/icons/done-summary.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.summary-done:hover .icon-wrapper.done-icon{
    background-image: url('../img/icons/done-summary-hover.svg');
}

.summary-done:active .icon-wrapper.done-icon {
    background-image: url('../img/icons/done-summary.svg');
}

.task-counter {
    display: flex;
    flex-direction: column;
    min-width: 60px;
}

.task-counter--design {
    display: flex;
    width: 108px;
    justify-content: space-between;
    align-items: center;
}

.vertical-line {
    height: 68px;
    margin: 0 10%;
}

.deadline-box {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}

.summary-bottom {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 34%;
    justify-content: center;
}

@media (max-width: 360px) {
    .vertical-line {
        margin: 0 12fpx;
    }

    .summary-card--large {
        background-position: 2px center;
    }

    .summary-card--large:hover {
        background-size: 40px;
    }
}

@media (min-width: 430px) and (max-width: 1160px) {
    .summary {
        width: 396px;
    }

    .summary-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*Desktop Layout starts*/
@media (min-width: 1160px) {
    .greeting-msg--mobile p {
        transform: translateX(116px);
    }

    .task-counter--design {
        gap: 18px;
    }

    .icon-wrapper {
        min-height: 69px;
        max-height: 69px;
        min-width: 69px;
        max-width: 69px;
    }

    .icon-wrapper.icon-wrapper.urgent-icon {
        min-height: 60px;
        max-height: 60px;
        min-width: 60px;
        max-width: 60px;
    }

    main {
        /* margin-top: 206px; */
        margin-left: 232px;
        margin-bottom: 80px;
    }

    .join-360 {
        flex-direction: row;
        align-items: center;
    }

    .join-360 h1 {
        font-size: clamp(47px, 5vw, 61px);
        cursor: default;
    }

    .join-360::after {
        display: none;
    }

    .join-360 .subtitle {
        font-size: clamp(22px, 2vw, 27px);
    }

    .join-360.vertical-line {
        display: unset;
        margin: unset;
        height: 59px;
        width: 3px;
        background-color: #29ABE2;
    }

    .summary {
        height: clamp(300px, 60vh, 562px);
        max-width: unset;
        width: clamp(396px, 60vw, 800px);
    }

    .summary-wrapper {
        display: flex;
        align-items: center;
        gap: 80px;
        /* transform: translateX(-50%); */
        width: 100%;
    }
}

/*Fade-In end-point*/
@media (min-width: 1300px) {
    .summary-content {
        opacity: 1;
    }

    .greeting-msg--mobile {
        display: none;
    }

    .summary {
        align-items: unset;
        flex: 1;
    }

    .greeting-msg--desktop {
        display: flex;
        flex-direction: column;
        margin-right: clamp(8px, 1%, 87px);
        width: clamp(200px, 25vw, 600px);
    }

    .greeting-msg--desktop p {
        font-size: clamp(36px, 3vw, 47px);
        font-weight: 500;
        color: #2A3647;
        cursor: default;
    }

    .greeting-msg--desktop span {
        font-size: clamp(47px, 4vw, 64px);
        color: #29ABE2;
    }

    .summary-wrapper {
        transform: translateX(0);
    }
}

@media (min-width: 1160px) and (min-height: 1000px) {
    .summary {
        height: clamp(400px, 60vh, 750px);
        width: 90%;
        max-width: 1000px;
    }

    .deadline-date {
        font-size: clamp(16px, 2vw, 50px);
    }

    .deadline-description {
        font-size: clamp(16px, 2vw, 42px);
    }

    .summary-counter {
        font-size: clamp(56px, 10vw, 72px);
    }

    .counter-description {
        font-size: clamp(14px, 1.2vw, 32px);
        white-space: nowrap;
    }
}