.greeting-msg--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 80px;
    font-weight: 400;
    font-size: 36px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.greeting-msg--desktop {
    display: none;
}

.main-mb {
    margin-bottom: 0;
}

.join-360 {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    gap: 16px;
    padding-bottom: 16px;
    position: relative;
}

.join-360::after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: #29ABE2;
    position: absolute;
    bottom: 0;
    left: 0;
}

.join-360.vertical-line {
    display: none;
}

.subtitle {
    font-weight: 400;
    font-size: 20px;
}

.counter-description {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.greeting-msg--mobile--fade-in {
    opacity: 1;
    z-index: 1;
}

.greeting-msg--name {
    font-weight: 700;
    font-size: 47px;
    color: #29ABE2;
}

.summary-content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.summary-animation--fade-in {
    opacity: 1;
}

.deadline-date {
    font-weight: 700;
    font-size: 16px;
}

.deadline-description {
    font-weight: 400;
    font-size: 14px;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 24px;
    max-width: 396px;
    height: 384px;
}

.summary-card {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.summary-card:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: #FFF;
}

.summary-card--small {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 33%;
    justify-content: center;
    align-items: center;
}

.summary-card--medium {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
}

.summary-card--large {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    background-image: url('../img/icons/urgent.svg');
    background-repeat: no-repeat;
    background-position: 8% center;
}

.summary-card--large:hover {
    background-image: url('../img/icons/urgent-hover.svg');
}

.summary-todo {
    background-image: url('../img/icons/pencil-summary.svg');
    background-repeat: no-repeat;
    background-position: 25% center;
}

.summary-todo:hover {
    background-image: url('../img/icons/pencil-summary-hover.svg');
}

.summary-done {
    background-image: url('../img/icons/done-summary.svg');
    background-repeat: no-repeat;
    background-position: 25% center;
}

.summary-done:hover {
    background-image: url('../img/icons/done-summary-hover.svg');
}

.summary-counter {
    font-weight: 600;
    font-size: clamp(32px, 10vw, 56px);
    text-align: center;
}

.summary-top {
    display: flex;
    height: 110px;
    gap: 24px;
    width: 100%;
    height: 33%;
    justify-content: center;
}

.summary-urgent {
    display: flex;
    width: 100%;
    height: 33%;
}

.icon-wrapper {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;

}

.task-counter {
    display: flex;
    flex-direction: column;
}

.task-counter--design {
    display: flex;
    width: 108px;
    justify-content: space-between;
    align-items: center;
}

.vertical-line {
    height: 68px;
    margin: 0 24px;
}

.deadline-box {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}

.summary-bottom {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 34%;
    justify-content: center;
}

@media (max-width: 360px) {
    .vertical-line {
        margin: 0 12fpx;
    }

    .summary-card--large {
        background-position: 8px center;
    }

    .summary-card--large:hover {
        background-size: 40px;
    }
}

@media (min-width: 430px) and (max-width: 1100px) {
    .summary {
        width: 396px;
    }

    .summary-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*Desktop Layout starts*/
@media (min-width: 820px) {
    .greeting-msg--mobile p {
        transform: translateX(116px);
    }

    .join-360 {
        flex-direction: row;
        align-items: center;
    }

    .join-360 h1 {
        font-size: clamp(47px, 5vw, 61px);
    }

    .join-360::after {
        display: none;
    }

    .join-360 .subtitle {
        font-size: clamp(22px, 2vw, 27px);
    }

    .join-360.vertical-line {
        display: unset;
        margin: unset;
        height: 59px;
        width: 3px;
        background-color: #29ABE2;
    }

    .summary {
        height: 562px;
        min-width: 396px;
        max-width: 560px;
        width: unset;
    }

    .summary-wrapper {
        display: flex;
        align-items: center;
        gap: 80px;
    }
}

/*Fade-In end-point*/
@media (min-width: 1100px) {
    .summary-content {
        opacity: 1;
    }

    .greeting-msg--mobile {
        display: none;
    }

    .summary {
        align-items: unset;
        flex: 1;
    }

    .greeting-msg--desktop {
        display: unset;
    }

    .greeting-msg--desktop p {
        font-size: clamp(36px, 3vw, 47px);
        font-weight: 500;
        color: #2A3647;
    }

    .greeting-msg--desktop span {
        font-size: clamp(47px, 4vw, 64px);
        color: #29ABE2;
    }
}