<div class="header-mobile">
    <div class="left-content">
        <img class="header-mobile-img" src="/assets/img/icons/join_logo_header.svg">
    </div>
    <div class="right-content">
        <div class="header-mobile-profile"></div>
    </div>
</div>


<div class="menu-bar-desktop">
    <div class="menu-bar-one"><img class="icon-join" src="./assets/img/icons/join_logo.svg"></div>
    <div class="menu-bar-two">
        <div class="menu-bar-images">
            <a class="menu-bar-icons"><img class="menu-summary_img" src="./assets/img/icons/summary_icon.svg"><span class ="menu-bar-text">Summary</span></a>
            <a class="menu-bar-icons"><img class="menu-add-task_img" src="./assets/img/icons/add_task_icon.svg"><span class ="menu-bar-text">Add Task</span></a>
            <a class="menu-bar-icons"><img class="menu-board_img" src="./assets/img/icons/board.icon.svg"><span class ="menu-bar-text">Board</span></a>
            <a class="menu-bar-icons"><img class="menu-contact_img" src="./assets/img/icons/contact_icon.svg"><span class ="menu-bar-text">Contacts</span></a>
        </div>
    </div>
    <div class="menu-bar-three">
            <a class="menu-bar-privacy-policy" href="#placeholder">Privacy Policy</a>
        <a class="menu-bar-legal-notice" href="#placeholer">Legal notice</a>
    </div>
</div>

<div class="menu-bar-mobile">
    <a class="menu-bar-icons-mobile"><img class="menu-summary_img" src="./assets/img/icons/summary_icon.svg">Summary</a>
    <a class="menu-bar-icons-mobile"><img class="menu-board_img" src="./assets/img/icons/board.icon.svg">Board</a>
    <a class="menu-bar-icons-mobile"><img class="menu-add-task_img" src="./assets/img/icons/add_task_icon.svg">Add Tasks</a>
    <a class="menu-bar-icons-mobile"><img class="menu-contact_img" src="./assets/img/icons/contact_icon.svg">Contacts</a>
</div>