<section id="sign-up-dialog" class="sign-up-dialog" onclick="stopPropagation(event);">
    <div class="dialog-headline">
        <button class="close-btn" onclick="closeSignUp()"></button>
        <h1>Sign up</h1>
        <div class="horizontal-line"></div>
    </div>
    <form id="sign-up-form" class="registration-form" onsubmit="return submitSignUp(event);">
        <div class="registration-data">
            <div class="input-item">
                <img src="./assets/img/icons/person-gray.svg" alt="" class="input-icons">
                <input type="text" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="input-item">
                <img src="./assets/img/icons/mail.svg" alt="" class="input-icons">
                <input type="email" id="email" name="email" placeholder="Email" autocomplete="username" required>
            </div>
            <div class="input-item">
                <img src="./assets/img/icons/lock.svg" alt="" id="password-create-img" class="input-icons">
                <input type="password" id="password-create" name="password" placeholder="Password"
                    autocomplete="new-password" onkeydown="passwordInputIcon('create')"
                    onkeyup="passwordInputIcon('create');comparePasswords()" required>
            </div>
            <div id="password-check" class="input-item">
                <img src="./assets/img/icons/lock.svg" alt="" id="password-validation-img" class="input-icons">
                <input type="password" id="password-validation" name="password-validation"
                    placeholder="Confirm Password" autocomplete="new-password"
                    onkeydown="passwordInputIcon('validation')"
                    onkeyup="passwordInputIcon('validation');comparePasswords();" required>

            </div>
            <span class="error-msg d-none" id="error-msg">Ups! your password don’t match</span>
        </div>
        <div class="privacy-checkbox">
            <input type="checkbox" id="privacy" name="privacy-checkbox" onclick="togglePrivacy()">
            <label for="privacy">I accept the <a href="./privacy.html">Privacy policy</a></label>
        </div>
        <div class="button-wrapper">
            <button id="submit-btn" class="form-btn disabled" disabled>Sign Up</button>
        </div>
    </form>
</section>
<section id="msg-wrapper" class="msg-wrapper">
    <div id="sign-up-confirm" class="popup-msg">
        <span>You Signed Up successfully</span>
    </div>
</section>